In [1]:
##2.1 course
print("Hello World")

Hello World

In [2]:
# Loop thru a range of num(0 thru 4)
for x in range(5):
    print(x)
print("------------------")

0
1
2
3
4
------------------

In [3]:
# Loop thru a range of num (2 thru 6)
for x in range(2,7):
    print(x)
print("-----------------")

2
3
4
5
6
-----------------

In [4]:
# Iterate thru letters in a string
word = "Peace"
for letters in word:
    print(letters)
print("------------------")

P
e
a
c
e
------------------

In [8]:
# create a variable named cheer
cheer = "Python"

# Below string can be used to add fun
cheer_symbol = "*\O/*"
cheer_symbol_2 = "\( ^o^)/\(^ _ ^ )"

#Loop thru a string
for x in cheer:
    #Print each letter with a cheer
    print("Give me a " + x + "!")
    print(x + "!")

#Print excitement to screen
print("\nWhat does that spell?!")
print(cheer + "!\nWoohoo! Go " + cheer + "!")
print(cheer_symbol * 3)
print(cheer_symbol_2)

Give me a P!
P!
Give me a y!
y!
Give me a t!
t!
Give me a h!
h!
Give me a o!
o!
Give me a n!
n!

What does that spell?!
Python!
Woohoo! Go Python!
*\O/**\O/**\O/*
\( ^o^)/\(^ _ ^ )

In [10]:
##2.2 course
#List
ceo_list = ["Joe", "Jim", "Job"]

#List of Lists
ceo_nested_list = [
    ["Joe B", 80, "CEO of 46"],
    ["Jim K", 90, "CEO of 39"],
    ["Job S", 40, "CEO of Apple"]
]

#Retrieve first entry of ceo_nested_list
first_entry = ceo_nested_list[0]

#Retrieve name of first entry
first_entry_name = ceo_nested_list[0][0]

#Retrieve age of first entry
first_entry_age = ceo_nested_list[0][1]

#Retrieve occupation of first entry
first_entry_occupation = ceo_nested_list[0][2]

#Print results to screen
print("The first entry in employees_nested_list is:", first_entry)
print(f"{first_entry_name} is {first_entry_age} years old, serving as {first_entry_occupation} ")

The first entry in employees_nested_list is: ['Joe B', 80, 'CEO of 46']
Joe B is 80 years old, serving as CEO of 46

In [11]:
#Dictionary of lists
stocks_nested_list = {
    "APPL": ["Apple", 101.32, "NASDAQ", 937.7],
    "MU": ["Micron Tech", 32.12, "NASDAQ", 48.02],
    "AMD": ["Advanced Micro Devices", 23.12, "NASDAQ", 23.94],
    "TWTR": ["Twitter", 34.40, "NASDAQ", 26.42]
}

#Retrieve entry for APPL
appl_entry = stocks_nested_list["APPL"]

#Retrieve name, stcok_price, and exchange for APPL entry
appl_name = stocks_nested_list["APPL"][0]
appl_stock_price = stocks_nested_list["APPL"][1]
appl_exchange = stocks_nested_list["APPL"][2]

#Print results to screen
print(f"APPL ticker stands for {appl_name}. APPL stock price is currently {appl_stock_price}, and it is available on {appl_exchange}.")

APPL ticker stands for Apple. APPL stock price is currently 101.32, and it is available on NASDAQ.

In [13]:
# Dictionary of Dicts
stocks_nested_dict = {
    "APPL": {
        "name": "Apple",
        "exchange": "NASDAQ",
        "market_cap": 937.7
    },
    "MU": {
        "name": "Micron Tech",
        "exchange": "NASDAQ",
        "market_cap": 48.03
    },
    "AMD": {
        "name": "Advanced Micro Devices",
        "exchange": "NASDAQ",
        "market_cap": 29.94
    },
    "TWTR": {
        "name": "Twitter",
        "exchange": "NASDAQ",
        "market_cap": 26.42
    }
}

#Retrieve Twitter entry
twitter_entry = stocks_nested_dict["TWTR"]

#Retrieve TWTR name, exchange, and market_cap
twitter_name = stocks_nested_dict["TWTR"]["name"]
twitter_exchange = stocks_nested_dict["TWTR"]["exchange"]
twitter_market_cap = stocks_nested_dict["TWTR"]["market_cap"]

#Print results to screen
print(f"Name of TWTR ticker is {twitter_name}. TWTR is available on {twitter_exchange}, and its currrent market capitalization is {twitter_market_cap}.")

Name of TWTR ticker is Twitter. TWTR is available on NASDAQ, and its currrent market capitalization is 26.42.

In [14]:
#Call a func
def calculate_market_cap(market_price, number_of_shares):
    cap = market_price * number_of_shares
    
    return cap
market_price = 76.06
number_of_shares = 1243600000

market_cap = calculate_market_cap(market_price, number_of_shares)
print(f"Market Capitalization : {market_cap}")

Market Capitalization : 94588216000.0

In [1]:
##2.3 course
## not listed yet, tbc
#Variables
age = 22
hourly_wage = 65

#conditionals
x = 1
y = 10
if x ==1:
    print("x equals one")

x equals one

In [2]:
#Lists, Dictionaries
#For loop
for x in range(5):
    print(x)

0
1
2
3
4

In [16]:
#Functions
def main(stock_sticker):
    print(stock_sticker + " is booming!")

stock_sticker = "SBUX"
main(stock_sticker)

SBUX is booming!

In [19]:
# List of dicts
customers = [
    { "first_name": "Tom", "last_name": "Bell", "revenue": 0 },
    { "first_name": "Maggie", "last_name": "Johnson", "revenue": 1032 },
    { "first_name": "John", "last_name": "Spectre", "revenue": 2543 },
    { "first_name": "Susy", "last_name": "Simmons", "revenue": 5322 }
]

def create_greeting(first_name, last_name, revenue):
    # @TODO: YOUR CODE HERE!
    if revenue >= 3001:
        greeting = f"Hey {first_name} {last_name}, you are in tier paltinuem of renevue ${revenue}."
    elif (revenue > 2000 and revenue <= 3000):
        greeting = f"Hey {first_name} {last_name}, you are in tier gold of renevue ${revenue}."
    elif (revenue > 1000 and revenue <= 2000):
        greeting = f"Hey {first_name} {last_name}, you are in tier silver of renevue ${revenue}."
    elif (revenue >= 0 and revenue <= 1000):
        greeting = f"Hey {first_name} {last_name}, you are in tier bronze of renevue ${revenue}"
    return greeting

for cust in customers:
    greeting = create_greeting(cust["first_name"], cust["last_name"], cust["revenue"])
    print(greeting)

Hey Tom Bell, you are in tier bronze of renevue $0
Hey Maggie Johnson, you are in tier silver of renevue $1032.
Hey John Spectre, you are in tier gold of renevue $2543.
Hey Susy Simmons, you are in tier paltinuem of renevue $5322.

In [20]:
create_greeting("Joe", "Biden", 20000000000)

'Hey Joe Biden, you are in tier paltinuem of renevue $20000000000.'

In [22]:
for cust in customers:
    print(cust["first_name"], cust["last_name"], cust["revenue"])
    greeting = create_greeting(cust["first_name"], cust["last_name"], cust["revenue"])
    print(greeting)

Tom Bell 0
Hey Tom Bell, you are in tier bronze of renevue $0
Maggie Johnson 1032
Hey Maggie Johnson, you are in tier silver of renevue $1032.
John Spectre 2543
Hey John Spectre, you are in tier gold of renevue $2543.
Susy Simmons 5322
Hey Susy Simmons, you are in tier paltinuem of renevue $5322.